src/main/mule/account-transferfunds.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<sub-flow name="multipleCustomerValidationForAccount" doc:id="93359745-e143-4f3e-9bce-1365ae21a1fa" >
		<set-variable value="https://${accounttransactions.host}/${accounttransactions.endpoints.accountholders}" doc:name="set system url" doc:id="c81e193a-7502-4e40-bb76-27233a599e9c" variableName="sysurl"/>
		<set-variable value="${accounttransactions.endpoints.accountholders}" doc:name="set system path" doc:id="f9b7c60d-7b2f-42f0-b0ff-63203c6a2cb3" variableName="syspath"/>
		<json-logger:logger doc:name="Start System Call" doc:id="7546e7f2-e9ef-44fb-bbd4-cbd800714ee4" config-ref="JSON_Logger_Config" tracePoint="BEFORE_REQUEST" message="#[vars.'syspath']">
			<json-logger:content ><![CDATA[#[output application/json ---
{
 	URL:vars.'sysurl'
}]]]></json-logger:content>
		</json-logger:logger>
		<http:request method="GET" doc:name='Get customers for account' doc:id="4ddbe749-d2af-4d3f-9cec-8975bda3d794" config-ref="HTTP_Request_Accounttrasactions" path="/${accounttransactions.endpoints.accountholders}" target="CustomersForAccount">
			<http:headers ><![CDATA[#[output applicaton/java
---
{
	"X-Correlation-ID" : correlationId
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output applicaton/java
---
{
	"accountnumber" : vars.accountNumber
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="End System Call" doc:id="38e876df-4822-4ea8-856d-65a357476f49" config-ref="JSON_Logger_Config" tracePoint="AFTER_REQUEST" message="#[vars.'syspath']">
			<json-logger:content ><![CDATA[#[output application/json ---
{
 	URL:vars.'sysurl'
}]]]></json-logger:content>
		</json-logger:logger>
		<json-logger:logger doc:name="System Response" doc:id="a05fd570-b0ba-4a83-8fbb-c62dc3427a2c" priority="DEBUG" message="System Response" config-ref="JSON_Logger_Config">
			<json-logger:content ><![CDATA[#[output application/json ---
{
 	payload:vars.'CustomersForAccount'
}]]]></json-logger:content>
		</json-logger:logger>
		<ee:transform doc:name="validateAccountJointCustomers" doc:id="d77173a2-8ba0-401d-9088-f5e555a73255">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="isValid"><![CDATA[%dw 2.0
output application/java
var otherAccountCustomers = vars.CustomersForAccount.AccountHolders filter($.CustomerNumber != vars.TransactionRequest.CisNumber)
---

(otherAccountCustomers map {
	result: ((p('accounttransferfunds.jointCustomers' ++ "." ++ vars.accountRelCode as String) splitBy ",") contains $.RelationshipCode as String)
} filter ($.result == false)).result[0] default true]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true doc:name="Account joint customer check?" doc:id="839e325d-faab-48d5-a55c-57f43ee6ad15" expression="#[vars.isValid]" message="#['Your transaction could not be processed due to: ' ++ vars.transferAccountType ++ ' Account not eligible for transfers.']" />
	
</sub-flow>
	<flow name="account-transferfundsFlow" doc:id="28c03a30-f5c3-4091-91d0-c0166521971a" >
		<set-variable value="#[payload.'PinpointRequest']" doc:name="pinpointRequest" doc:id="685940d3-82a2-449e-a09b-9da872dee351" variableName="pinpointRequest"/>
		<set-variable value="#[payload.'TransferRequest']" doc:name="transactionRequest" doc:id="acc9e253-631e-479b-a53f-ba356bbc0514" variableName="transactionRequest"/>
		<flow-ref doc:name="fraud-check-flow" doc:id="148a6bea-507b-4a6b-865c-6d6fa9b36e67" name="fraud-check-flow"/>
		<json-logger:logger doc:name="End fraud check" doc:id="d682b8fa-a87f-4002-9a7a-a769a0cbf372" config-ref="JSON_Logger_Config" tracePoint="AFTER_TRANSFORM" message="End fraud check">
			<json-logger:content ><![CDATA[#[output application/json ---
{
 URL: "Fraud check flow"
}]]]></json-logger:content>
		</json-logger:logger>
		<validation:is-false doc:name="isFraudulent?" doc:id="88744dee-1671-443e-8725-4327fda9269b" expression="#[vars.isFraudulent]" message="Transfer has Failed"/>
		<flow-ref doc:name="transferValidationRules" doc:id="6ee94266-f13b-401f-a138-a69ecaa70815" name="transferValidationRules"/>
		<ee:transform doc:name="Create transfer payload" doc:id="0cab3850-8560-436e-969a-11024c2c772c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	ToAccountNumber: vars.transactionRequest.ToAccountNumber,
	ToAccountType: vars.transactionRequest.ToAccountType,
	FromAccountNumber: vars.transactionRequest.FromAccountNumber,
	FromAccountType: vars.transactionRequest.FromAccountType,
	Amount: vars.transactionRequest.Amount,
	FromTransactionCustomDescription1: vars.transactionRequest.FromTransactionCustomDescription1,
	FromTransactionCustomDescription2: vars.transactionRequest.FromTransactionCustomDescription2,
	ToTransactionCustomDescription1: vars.transactionRequest.ToTransactionCustomDescription1,
	ToTransactionCustomDescription2: vars.transactionRequest.ToTransactionCustomDescription2,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="https://${accounttransactions.host}/${accounttransactions.endpoints.m2mtransferfunds}" doc:name="set system url" doc:id="138b9d8f-8037-4794-8458-109e008e5fe4" variableName="sysurl"/>
		<set-variable value="${accounttransactions.endpoints.m2mtransferfunds}" doc:name="set sytem path" doc:id="12c315a8-2d46-48fe-9cc5-eb4c91e459ae" variableName="syspath"/>
		<json-logger:logger doc:name="Start System Call" doc:id="7546e7f2-e9ef-44fb-bbd4-cbd800714ee4" config-ref="JSON_Logger_Config" tracePoint="BEFORE_REQUEST" message="#[vars.'syspath']">
			<json-logger:content ><![CDATA[#[output application/json ---
{
 	URL:vars.'sysurl'
}]]]></json-logger:content>
		</json-logger:logger>
		<http:request method="POST" doc:name="Request Account Funds Transfer" doc:id="d9d0824a-f355-4522-822d-ffe7fedfc6df" config-ref="HTTP_Request_Transferfunds" path="/${accounttransactions.endpoints.m2mtransferfunds}">
					<http:headers><![CDATA[#[output applicaton/java
---
{
	"Content-Type" : "application/json",
	"X-Correlation-ID" : correlationId
}]]]></http:headers>
		</http:request>
		<json-logger:logger doc:name="End System Call" doc:id="38e876df-4822-4ea8-856d-65a357476f49" config-ref="JSON_Logger_Config" tracePoint="AFTER_REQUEST" message="#[vars.'syspath']">
			<json-logger:content ><![CDATA[#[output application/json ---
{
 	URL:vars.'sysurl'
}]]]></json-logger:content>
		</json-logger:logger>
		<json-logger:logger doc:name="System Response" doc:id="a05fd570-b0ba-4a83-8fbb-c62dc3427a2c" priority="DEBUG" message="System Response">
			<json-logger:content ><![CDATA[#[output application/json ---
{
 	payload:vars.payload
}]]]></json-logger:content>
		</json-logger:logger>
		<set-payload value='#[payload]' doc:name="Successful" doc:id="47b46ed3-71d1-451f-9778-b946f4a9f553" mimeType="application/json"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="790ce174-4325-40b6-a586-657f91f5e3ba" >
				<set-variable value="TransferFunds" doc:name="Set Variable" doc:id="12cf1df4-be7f-4ba7-8e8e-2f5885bef3d1" variableName="exceptionFlow"/>
			</on-error-propagate>
		</error-handler>	
	
</flow>
	<flow name="transferValidationRules" doc:id="46e116a3-680f-4cd3-ab60-c5e22de8837f" >
		<set-variable value="#[if (vars.TransactionRequest.FromAccountCurrentBalance &gt;= vars.TransactionRequest.Amount) true else false]" doc:name="isTransferAmountValid" doc:id="052ca285-3525-4b16-b8ea-99d7621ea314" variableName="isTransferAmountValid"/>
		<validation:is-true doc:name="isTransferAmountValid?" doc:id="b03592c2-ccb2-4b9e-ba46-4a61b535ae79" expression="#[vars.isTransferAmountValid]" message="The amount exceeds the limit you can send." />
		<ee:transform doc:name="validateAccountStatus" doc:id="040fd6be-58f5-4a8e-979c-3f146322fdf2">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="isValid"><![CDATA[%dw 2.0
output application/java
var toAccountStatus = vars.TransactionRequest.ToAccountStatus default "" as String
var fromAccountStatus = vars.TransactionRequest.FromAccountStatus default "" as String
var fromAccountReject = (p('accounttransferfunds.accountrejectedstatus') ++ "," ++ p('accounttransferfunds.fromAccountRejectStatus')) splitBy ","
var toAccountReject = (p('accounttransferfunds.accountrejectedstatus') ++ "," ++ p('accounttransferfunds.toAccountRejectStatus')) splitBy ","
---
if((fromAccountReject contains fromAccountStatus) or (toAccountReject contains toAccountStatus)) false else true
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true doc:name="Account status valid?" doc:id="839e325d-faab-48d5-a55c-57f43ee6ad15" expression="#[vars.isValid]" message="Account status validation failed. Account transfer cannot proceed."/>
		<ee:transform doc:name="validateAccountRelCodes" doc:id="4658893f-2551-43db-a625-7fc6a47a5e5e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="isValid" ><![CDATA[%dw 2.0
output application/java
var toAccountRelCode = vars.TransactionRequest.ToAccountRelCode as String
var fromAccountRelCode = vars.TransactionRequest.FromAccountRelCode as String
var toAccountRelCodeProperty = 'accounttransferfunds.fromToRelCodeMap' ++ "." ++ fromAccountRelCode
var toAccountForbidList = (p(toAccountRelCodeProperty) default "") splitBy ","
---

if (toAccountForbidList contains toAccountRelCode) true else false
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true doc:name="Account relation valid?" doc:id="839e325d-faab-48d5-a55c-57f43ee6ad15" expression="#[vars.isValid]" message="Account relation validation failed. Account transfer cannot proceed."/>
		<set-variable value="#[vars.TransactionRequest.FromAccountNumber]" doc:name="accountNumber(From)" doc:id="211a58b5-b991-4d7e-8b1d-bb0c38dcf13e" variableName="accountNumber" />
		<set-variable value="#[vars.TransactionRequest.FromAccountRelCode]" doc:name="accountRelCode(From)" doc:id="ba62aafa-c208-4078-9213-cf608a011da3" variableName="accountRelCode"/>
		<set-variable value="'From'" doc:name="transferAccountType(From)" doc:id="726d4829-7b58-4770-9589-bfa3d2a1038a" variableName="transferAccountType"/>
		<flow-ref doc:name="multipleCustomerValidationForAccount" doc:id="c8e84176-dcd0-440f-9075-df3c1b9abad9" name="multipleCustomerValidationForAccount" />
		<set-variable value="#[vars.TransactionRequest.ToAccountNumber]" doc:name="accountNumber(To)" doc:id="211a58b5-b991-4d7e-8b1d-bb0c38dcf13e" variableName="accountNumber" />
		<set-variable value="#[vars.TransactionRequest.ToAccountRelCode]" doc:name="accountRelCode(To)" doc:id="ba62aafa-c208-4078-9213-cf608a011da3" variableName="accountRelCode"/>
		<set-variable value="'To'" doc:name="transferAccountType(To)" doc:id="3a9edea7-304e-48cf-b1f0-982b4337d9cd" variableName="transferAccountType"/>
		<flow-ref doc:name="multipleCustomerValidationForAccount" doc:id="c8e84176-dcd0-440f-9075-df3c1b9abad9" name="multipleCustomerValidationForAccount" />
</flow>
</mule>
